@model WMS_FOR_ADIB.Models.Supplier

<div class="card shadow border-0 mt-4">
    <div class="card-header bg-secondary bg-gradient ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="bg-main text-yellow py-2">Delete Supplier</h2>
            </div>
        </div>
    </div>
    <div class="card-body p-4">
        <form asp-action="Delete" method="post">
            <input asp-for="SupplierID" type="hidden" />
            <div class="border p-3 mt-4">
                <dl class="row">
                    <dt class="col-sm-4">Name</dt>
                    <dd class="col-sm-8">@Model.Name</dd>

                    <dt class="col-sm-4">Invoice Number</dt>
                    <dd class="col-sm-8">@Model.InvoiceNumber</dd>
                </dl>

                <div class="row mt-4">
                    <div class="col-md-3">
                        <button type="submit" class="btn btn-danger text-yellow form-control">Delete</button>
                    </div>
                    <div class="col-md-3">
                        <a asp-controller="Supplier" asp-action="Index" class="btn btn-outline-primary text-dark border form-control">
                            Back to List
                        </a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
